:root {
  --main-font: "lores-12", sans-serif;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: whitesmoke;
  cursor: grab;

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.for--desktop__main {
  background-color: whitesmoke;
}

.for--mobile__main {
  background-color: none;
}

#for--mobile {
  display: none;
}

.bg-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  transform: rotate(180deg);

  z-index: -9999;
}


.line-divider {
  height: 10px;
  background-color: #74c043;
}

@media only screen and (max-width: 750px) {
  #for--desktop {
    display: none;
  }

  #for--mobile {
    display: block;
    font-family: var(--main-font);
  }
}

/*----------------------cursor------------------*/

.cursor {
  position: fixed;
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  pointer-events: none;
  background: url("assets/images/svg:png/cursor.svg") no-repeat center center;
  background-size: contain;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  mix-blend-mode: difference;
  z-index: 10000; /* Ensure it stays on top */
}

/* -------------------menu---------------------------- */

.menu-wrapper {
  height: fit-content;
  padding-top: 10px;
}

.menu-wrapper__landing {
  height: 70px;
  padding-top: 10px;
}

.menu--desktop {
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}

.menu--mobile {
  display: none;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 8px auto;
}

.menu__item a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: black;
}

.menu__item a:visited {
  color: black;
}

.menu__item:hover {
  background-color: #74c043;
  border-radius: 80%;
}

.menu__item {
  padding: 6px 30px;
  border: 2px solid #74c043;
  color: black;
  border-radius: 80%;
  font-family: var(--main-font);
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__black-bg {
  position: relative;
  top: 50px;
  right: 40%;
  background-color: black;
  width: 20px;
  height: 40px;
  border-radius: 80%;
}

.active-page {
  background-color: #74c043;
  border-radius: 80%;
  font-weight: 530;
}

@media only screen and (max-width: 750px) {
  #toggle-menu {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15px;
  }

  .menu-wrapper {
    padding-top: 0;
  }


  .hamburger span {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
    z-index: 10;
    border-radius: 50px;
  }

  .menu--mobile {
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 15px;
    display: block;
    position: relative;
    z-index: 9;
  }

  .menu-list--mobile {
    background-color: white;
    border: 10px solid #74c043;
    background-image: url(/assets/images/scanned-imgs/scans__202407/Scan33.jpeg);
    background-position: 75% 30%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    padding: 20px 0;
    padding-top: 70px;
  }

  .menu-list--mobile li a {
    text-decoration: none;
  }

  .menu__item {
    border-radius: 50%;
    margin: 10px 0;
    padding: 15px 30px;
    font-size: 30px;
  }

  .white-bg {
    background-color: whitesmoke;
  }


  /* Show the menu when the checkbox is checked */
  #toggle-menu:checked + .hamburger + .menu-list--mobile {
    display: flex;
  }
}

/* -------------------logo---------------------------- */

@media only screen and (max-width: 740px) {
  .logo-container svg {
    margin-top: -150px;
  }
}

.marquee {
  user-select: none;
    display: flex;
    justify-content: flex-start;
    position: relative;
    font-size: 10px;
    width: 100%; /* Full width */
    height: 40px;
    overflow: hidden; /* Hide overflow */
    z-index: 10;
    color: white;
    font-family: var(--main-font);
    background-color: black;
}

.marquee__text {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

.professions {
  font-family: var(--main-font);
  font-size: 10px;
  color: white;
  width: 100%;
}

.professions div {
  background-color: black;
  margin: 0 auto;
  margin-top: -20px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
}

.professions div h1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

@keyframes scroll {
  0% {
      transform: translateX(100%); /* Start outside the right side */
  }
  100% {
      transform: translateX(-100%); /* Move to outside the left side */
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-moz-keyframes scroll {
  0% {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


.marquee__text-string {
  display: flex;
  margin-right: 50px;
  min-width: 100vw;
}

.marquee__text-string h1 {
  white-space: nowrap;
  letter-spacing: 1px;
}
.marquee__text h1 {
  margin: 0 10px;
  font-size: 1.5rem; /* Adjust the size as needed */
}


.logo-landing {
  fill: white;
  stroke: black;
  margin-top: 5em;
}

.logo-wrapper svg {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 740px) {
  .logo-wrapper {
    padding-top: 5px;
  }

  .logo-landing {
    fill: white;
    stroke: black;
    margin-top: 5em;
  }
  
  .logo-wrapper svg {
    margin: 0 auto;
    padding: 0;
    display: flex;
  }

  .marquee {
    margin-top: 0;
    height: fit-content;
  }

  .marquee__text {
    animation: marquee-scroll 60s linear infinite;
  }

  .marquee__text-string {
    font-size: 1em;
    padding: 5px 0;
  }

  .professions div {
    flex-direction: column;
    gap: 1px;
  }
}

/* -------------------contact---------------------------- */

.socials {
  margin: 0 auto;
  padding: 10px;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials__menu {
  list-style: none;
  display: flex;
  gap: 100px;
}

.socials__menu li {
  border-radius: 10px;
  padding: 15px;
  background-color: #74c043;
}

.socials__menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.socials__menu li a:hover {
  text-decoration: underline;
  color: white;
}

@media only screen and (max-width: 750px) {
  .socials__menu {
    margin-left: -50px;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    gap: 15px;
  }
}

/* -------------------about---------------------------- */

.content__about-wrapper {
  display: flex;
  flex-direction: row;
  width: auto;
}

.content__about {
  background-color: black;
  width: 50%;
  height: 20%;
  padding: 15px;
  font-family: var(--main-font);
  overflow: hidden;
}

.content__about-desc {
  color: white;
  margin-top: -10px;
  font-size: 22px;
  letter-spacing: 2px;
}
.content__about-desc p a {
  color: white;
}

.content__about-img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: fit-content;
  overflow: hidden;
  pointer-events: none;
}

.content__about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1100px) {
  .content__about {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .content__about-wrapper {
    flex-direction: column;
  }

  .content__about {
    width: fit-content;
  }

  .content__about-img img {
    width: 100%;
  }
}

/* -------------------visuals---------------------------- */

.idle-message {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: var(--main-font);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
}

.content__vis-wrap {
  background-color: rgba(118, 193, 68, 50%);
}

.content__vis-desc {
  display: flex;
  margin: 0 auto;
}

.visz-legend p {
  padding: 15px;
  font-family: var(--main-font);
}

.fredito__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 10px;
}

.fredito__logo a:hover {
  border: 4px solid palevioletred;
}

.fredito__logo a {
  background-color: black;
  border: 4px solid whitesmoke;
  margin: 0 auto;
  padding: 15px 35px;
  border-radius: 100px;
  text-decoration: none;
}

.fredito__logo a p {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  text-decoration: none;
  color: whitesmoke;
}

.fredito__logo a img {
  margin: 0 auto;
  width: 100px;
  border-radius: 100px;
}

.visz-legend {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.content__vis--grid {
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 55px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.content__vis--grid__item {
  border: 1px solid #312fa6;
  margin: 0 auto;
  padding: 12px;
  width: 100%;
  height: fit-content;
  background-color: rgba(0, 0, 0, 80%);
  border-radius: 2px;
}

.content__vis--grid__item:hover {
  background-color: rgba(0, 0, 0, 100%);
}

.grid-item-link {
  cursor: grabbing;
}

.content__vis--grid__item__img {
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
  height: 360px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  min-height: 240px;
  object-fit: cover;
}

.content__vis--grid__item__img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content__vis--grid__item__info {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font);
}

.content__vis--grid__item__info__title {
  margin: 5px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;

  text-decoration-line: none;
  text-transform: uppercase;
  text-underline-offset: 5px;
  text-align: left;
  color: white;
}

.content__vis--grid__item__info__title a {
  color: #74c043;
}

.content__vis--grid__item__info__date {
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}

@media only screen and (max-width: 750px) {
  .idle-message {
    display: hidden;
  }
  .content__vis--grid {
    display: flex;
    flex-direction: column;
    margin-left: -7px;
    gap: 10px;
  }

  .content__vis--grid__item {
    width: 95%;
  }

  .visz-legend {
    margin: 0 auto;
    display: block;
  }
}

/* -------------------prod---------------------------- */

.scan-smears {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.scan-smears img {
  width: 50%;
}

.content__prod-wrap {
  background-color: rgba(118, 193, 68, 50%);
}

.content__prod-desc p {
  margin: 0 auto;
  padding: 15px;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__prod-projects {
  margin: 0 auto;
  max-width: 900px;
}

.table-set {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid orange;
  font-family: var(--main-font);
  display: flex;
  justify-content: left;
  gap: 50px;
}

.content__prod-tb-header {
  padding: 10px 0;
  letter-spacing: 2px;
}

.content__prod-info {
  margin: 0 auto;
}

.content__prod-info td:first-child {
  font-weight: 700;
  width: 300px;
}

.content__prod-headers {
  text-decoration: underline;
}

.content__prod-info td {
  padding: 5px;
  width: 160px;
}

.content__prod-info td a {
  color: black;
  text-decoration: none;
}

.content__prod-info td a:hover {
  color: #74c043;
  text-decoration: underline;
}

.content__prod-list {
  font-family: var(--main-font);
  list-style: none;
}

@media only screen and (max-width: 750px) {
  .content__prod-projects {
    width: 350px;
  }

  .table-set {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 50px;
  }

  .scan-smears {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
  }

  .scan-smears img {
    width: 100%;
  }
}

/* -------------------footer---------------------------- */

footer {
  display: flex;
  justify-content: center;
  background-color: rgba(118, 193, 68, 50%);
}

.foot-text {
  padding: 30px;
  color: black;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .foot-text {
    text-align: center;
    font-size: 12px;
  }
}

/* -----------------popup----------------- */

.popup-item {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 2%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.popup-content {
  border: 1px solid #312fa6;
  margin: 0 auto;
  padding: 12px;
  width: 80%;
  height: 90%;
  background-color: rgba(0, 0, 0, 90%);
  border-radius: 2px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* -----------  popup -------------- */

.popup {
  border: 10px solid #312fa6;
  margin: 0 auto;
  padding: 12px;
  width: 95%;
  height: 100%;
  background-color: rgba(0, 0, 0, 80%);
  border-radius: 2px;
}

.grid-item-link {
  cursor: grab;
}

.content__vis--grid__item__img {
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
  height: 360px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  min-height: 240px;
  object-fit: cover;
}

.content__vis--grid__item__img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.content__vis--grid__item__info {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font);
}

.content__vis--grid__item__info__title {
  margin: 5px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;

  text-decoration-line: none;
  text-transform: uppercase;
  text-underline-offset: 5px;
  text-align: left;
  color: white;
}

.content__vis--grid__item__info__title a {
  color: #74c043;
}

.content__vis--grid__item__info__date {
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}