:root {
  --baseline-ff: "DM Mono", monospace;
  --alt-ff: "Jersey 10", sans-serif;
  --baseline-fw: 400;
  --primary-color: #4da62f;
  --hidden: none;
}

body,
html {
  margin: 0 auto;
}

/* ------------ misc classes ------------- */

.hidden {
  display: var(--hidden);
}

.link {
  font-family: var(--alt-ff);
  font-weight: 400;
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (max-width: 740px) {
  .mobile-hidden {
    display: var(--hidden);
  }

  .link {
    color: white;
  }
}
/* ------------ background image ------------ */

.bg-container {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;

  z-index: -1;

  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-container video,
.bg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 740px) {
  .bg-container video {
    display: none;
  }
  .bg-container img {
    display: block;
  }
}

/* ------------ scrolling marquee ------------ */

.marquee {
  display: flex;
  overflow: hidden;
  height: 2vh;
  user-select: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  z-index: 1;
}

.marquee-inner {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  padding: 4px;
  white-space: nowrap;
  animation: marquee 100s linear infinite;
}

.marquee-text {
  white-space: nowrap; /* Prevent text from wrapping */
  text-transform: uppercase;
  font-family: var(--alt-ff);
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  letter-spacing: 2px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 2px));
  }
}

@media only screen and (max-width: 740px) {
  .marquee {
    height: 3vh;
  }

  .marquee-text {
    font-size: 22px;
  }
}
/* ------------------- gen. content ---------------- */

.content-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 20px;
}

@media only screen and (max-width: 740px) {
  .content-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ------------------- bio header ---------------- */

.bio-header-container {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

.border-wrapper-1 {
  border: #4da62f solid 3px;
  position: absolute;
  width: 325px;
  height: 295px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: -1;
}

.bio-header {
  border: #4da62f solid 3px;
  width: 295px;
  height: 295px;
  padding: 0 15px;
  font-family: var(--alt-ff);
}

.title-banner {
  padding: 5px;
  mix-blend-mode: difference;
}

.title h1 {
  margin: 0 auto;
  margin-top: 7px;
  color: white;
  font-family: var(--alt-ff);
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 25px;
  mix-blend-mode: difference;
}

.title h1 span {
  position: relative;
  top: 2px;
}

.img-with-facts {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bio-img {
  margin: 0 auto;
  padding: 5px;
}

.bio-img div {
  margin-bottom: 5px;
}

.bio-img a {
  color: white;
  mix-blend-mode: difference;
}
.bio-img a p {
  margin-top: 0;
}

.bio-desc {
  margin: 0 auto;
  margin-top: -10px;
  color: white;
  mix-blend-mode: difference;
  letter-spacing: 2px;
}

@media only screen and (max-width: 740px) {
  .bio-header-container {
    margin: 0 auto;
    background-color: black;
  }

  .bio-header {
    width: 295px;
    height: 295px;
  }
}

/* ------------------ vizs ------------------ */

.go-to {
  display: var(--hidden);
}

.vis-wrapper {
  width: fit-content;
  height: fit-content;
  margin-right: auto;
}

.border-wrapper-3 {
  border: #4da62f solid 3px;
  position: absolute;
  width: 680px;
  height: 820px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: -1;
}

.visuals {
  border: #4da62f solid 3px;
  width: 650px;
  height: 820px;
  padding: 0 15px;
  font-family: var(--alt-ff);
  overflow: scroll;
  color: white;
}

.visuals::before {
  content: "visualizrs";
  margin: 15px 0;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  letter-spacing: 20px;
  font-size: 25px;
}

.prj-grid {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 2px;
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}

.prj-item {
  border: 1px solid var(--primary-color);
  margin: 0 auto;
  padding: 12px;
  width: 620px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 80%);
  border-radius: 2px;
}

.prj-item:hover {
  background-color: rgba(0, 0, 0, 100%);
}

.prj-img {
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
  height: 390px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  min-height: 240px;
}

.prj-img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: crosshair;
}

.prj-info {
  margin: 0 auto;
  width: 100%;
  font-family: var(--alt-ff);
}

.prj-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;

  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 5px;
  text-align: left;
  color: white;
}

.date-length {
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}

.prj-desc {
  display: none;
  margin: 8px 0;
  padding: 0;
  font-size: 13px;
  justify-content: left;
  letter-spacing: 0;
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .prj-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 740px) {
  .go-to {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 10px;
    color: white;
    font-family: var(--alt-ff);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 25px;
    background-color: black;
    width: 100px;
    height: 40px;
  }
  .vis-wrapper {
    margin: 0 auto;
    margin-top: 0;
    display: var(--hidden);
  }

  .border-wrapper-3 {
    display: var(--hidden);
    width: 23.9em;
    height: 6360px;
  }

  .visuals {
    border: #4da62f solid 0;
    width: fit-content;
    height: 6360px;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .visuals::before {
    content: "visualizrs";
    margin: 15px 0;
    display: flex;
    color: black;
    justify-content: right;
    position: relative;
    top: -50px;
    left: 10px;
    letter-spacing: 20px;
    font-size: 28px;
  }

  .prj-grid {
    margin: 0 auto;
    grid-template-columns: 1fr;
    top: 40px;
    gap: 80px;
  }

  .prj-item {
    margin-top: -45px;
    width: 330px;
    background-color: rgba(0, 0, 0, 100%);
  }

  .prj-img {
    width: 330px;
    height: 280px;
    object-fit: cover;
  }

  .video {
    width: 100%;
    background-color: white;
  }
}

/* ------------------ socials -------------------- */

.social-container {
  margin-top: -33em;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

.border-wrapper-2 {
  border: #4da62f solid 3px;
  position: absolute;
  width: 325px;
  height: 120px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: -1;
}

.social-header {
  border: #4da62f solid 3px;
  width: 295px;
  height: 120px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: var(--alt-ff);
}

.socials {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px 3px;
}

.socials div {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 5px;
  mix-blend-mode: difference;
}

.socials div a {
  text-decoration: none;
}

@media only screen and (max-width: 740px) {
  .social-container {
    margin: 0 auto;
    margin-top: -8px;
    background-color: white;
  }

  .border-wrapper-2 {
    width: 330px;
    height: 120px;
  }

  .social-header {
    width: 300px;
    height: 120px;
  }

  .socials div {
    mix-blend-mode: none;
  }

  .socials div a {
    text-decoration: none;
    color: lightblue;
  }
}

/* ------------------- about -------------------- */

.about-wrapper {
  margin-top: -25em;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  color: white;
}

.border-wrapper {
  border: #4da62f solid 3px;
  position: absolute;
  width: 325px;
  height: 354px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: -1;
}

.about {
  border: #4da62f solid 3px;
  width: 295px;
  height: 324px;
  padding: 15px;
  font-family: var(--alt-ff);
  overflow: auto;
  mix-blend-mode: difference;
}

.about::before {
  content: "about fredito";
  margin-left: 6px;
  color: white;
  font-family: var(--alt-ff);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
}

.about-desc {
  margin-top: -10px;
  font-size: 22px;
  letter-spacing: 2px;
}

.arrow-down {
  width: fit-content;
  position: relative;
  top: -14px;
  left: 170px;
}

@media only screen and (max-width: 740px) {
  .about-wrapper {
    margin: 0 auto;
    margin-top: -15px;
    display: var(--hidden);
    color: black;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: fit-content;
    mix-blend-mode: normal;
    border: 0;
  }
  .about::before {
    content: "about fredito";
    margin: 15px 0;
    display: flex;
    color: black;
    justify-content: right;
    position: relative;
    top: -12px;
    left: 10px;
    letter-spacing: 10px;
    font-size: 28px;
  }

  .about-desc {
    position: relative;
    top: -20px;
    background-color: transparent;
  }

  .about-desc p {
    color: white;
    background-color: black;
    padding: 10px;
  }

  .border-wrapper {
    width: 380px;
    height: 1457px;
    mix-blend-mode: difference;
    background-color: transparent;
    border: 0;
  }

  .section-header-container h2 {
    margin-left: -30px;
    letter-spacing: 50px;
  }

  .arrow-down {
    display: none;
    width: fit-content;
  }
}

/* --------------------- interests -------------------- */

.interests-container {
  margin-top: -530px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
}

.border-wrapper-4 {
  border: #4da62f solid 3px;
  position: absolute;
  width: 325px;
  height: 370px;
  background-color: white;
  mix-blend-mode: difference;
  z-index: -1;
}

.interests-header {
  border: #4da62f solid 3px;
  width: 295px;
  height: fit-content;
  padding: 0 15px;
  font-family: var(--alt-ff);
}

.interests-info-wrapper div {
  color: white;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 740px) {
  .interests-container {
    margin-top: 10px;
    margin: 0 auto;
  }

  .border-wrapper-4 {
    width: 325px;
    height: 380px;
  }
}

/* ----------------------- images --------------------- */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 20px;
}

.image-container img {
  border: #4da62f solid 10px;
  pointer-events: none;
}

.go-back {
  margin: 0 auto;
  padding: 0 20px;
  color: white;
  font-family: var(--alt-ff);
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 25px;
  mix-blend-mode: difference;
  background-color: black;
  width: fit-content;
}

.go-back a {
  margin: 0 auto;
  padding: 0;
}

@media only screen and (max-width: 740px) {
  .image-container img {
    width: 350px;
    height: fit-content;
    object-fit: cover;
  }

  .go-back {
    color: black;
    background-color: white;
  }
}

/* ------------------ mobile menu ---------------- */

.mobile-menu-wrapper {
  display: var(--hidden);
}

@media only screen and (max-width: 740px) {
  .mobile-menu-wrapper {
    display: flex;
    font-family: var(--alt-ff);
    font-size: 1.6em;
    margin-top: -25px;
  }

  .mobile-menu-wrapper div {
    padding: 0;
    width: 370px;
    margin-top: 18px;
    margin-left: -9px;
  }

  .mobile-menu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .mobile-menu li {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .mobile-menu li a {
    border: 1px solid #4da62f;
    background-color: #4da62f;
    width: 300px;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
  }
}

/* ----------------- footer ---------------- */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  mix-blend-mode: difference;
}

.foot-text {
  padding: 30px;
  color: white;
  font-family: var(--alt-ff);
  font-weight: var(--baseline-fw);
  font-size: 14px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  .foot-text {
    text-align: center;
    font-size: 12px;
  }
}
