@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Broken+Fax&family=VT323&display=swap');

/* Big picture stuff */

*{
    margin: 0;
    padding: 0;
    line-height: 1;
}

html {
    margin: 0 auto;
    padding: 0;
    background-color: #0f0f0f;
    cursor: default;
}

hr {
    color: #4DA62F;
    border: 1px solid #4DA62F;
    margin: 0 auto;
    padding: 0;
    width: inherit;
    position: fixed;
    left: 0;
    top: 71px;
    overflow: hidden;
}

.font-color {
    color: #4DA62F;
    font-family: 'VT323', monospace;
    text-decoration: none;
}

.font-color-blk {
    color: #0f0f0f;
    font-family: 'VT323', monospace;
    text-decoration: none;
}

.active {
    background-color: #4DA62F;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

header {
    background-color: #0f0f0f;
    width: 100%;
}

/* Navigation Section */

#nav-section {
    background-color: #0f0f0f;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    gap: 10px;
}

#name-subtitle {
    margin: 5px auto 0 auto;
    padding: 15px 55px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-radius: 20px 20px 0 0;

    background-image: url(/assets/videos/fortune.mp4);
    background-size: cover;
    background-position: center;
}

/* Logo */

.logo-section {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

.name {
    color: #0f0f0f;
    margin: 0 auto;
    padding: 0;
    font-family: 'Cousine', monospace;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .1rem;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    text-underline-offset: 2px;
}

.logo-subtitle {
    color: #0f0f0f;
    margin: 5px;
    font-size: 16px;
    letter-spacing: .01rem;
    text-decoration-line:none;
    text-transform: lowercase;
}

.radio-link {
    margin: 10px auto;
    padding: 0;
}

.radio-icon {
    margin: 0;
    padding: 6px;
    width: 20px;
    background-color: #0f0f0f;
    border: 1px solid #4DA62F;
    border-radius: 50px;
}

.radio-icon:hover {
    background-color: #7ac760;
}

/* Menu */

.menu-options {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

#menu-option {
    border: 1px solid #0f0f0f;
    margin: 0 auto;
    padding: 22px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .8px;
}

#menu-option:hover {
    background-color: #4DA62F;
    text-decoration: none;
    font-size: 16px;
    color: #0f0f0f;
}

#social-menu {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#social-menu img {
    padding: 0 5px;
    width: 20px;
}

/* Main Body Content */

.main-content {
    margin: 90px auto;
    padding: 0 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-page {
    margin: 0 auto;
    padding: 0;
    font-size: 30px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 10px auto;
    padding: 0;
}

.sub-title {
    margin: 0 auto;
    padding: 0;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Projects */

.sub-menu {
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.sub-menu a {
    padding: 5px 30px;
    text-decoration: none;
    border: 1px solid #4DA62F;
    border-radius: 50px;
}

.projects {
    margin: 10px auto;
    padding: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.proj-img {
    border: 7px ridge #4DA62F;
    margin: 0 auto;
    padding: 0;
    width: 36rem;
    height: 20rem;
    object-fit: cover;
}

.proj-img-alt {
    border: 7px ridge #0f0f0f;
    margin: 0 auto;
    padding: 0;
    width: 36rem;
    height: 20rem;
    object-fit: cover;
}

.title-container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title-runtime {
    margin: 0;
    padding: 0;
}

.proj-title {
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 3px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: left;
}

.sub-desc {
    margin: 0;
    padding: 3px 0;
    font-size: 18px;
    text-align: left;
}

.tube-watch-left {
    margin: 10px 0 0 0;
    padding: 0;
    letter-spacing: .7px;
    display: flex;
    justify-content: left;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.tube-watch-right {
    margin: 10px 0 0 0;
    padding: 0;
    letter-spacing: .7px;
    display: flex;
    justify-content: right;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.featured-track {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.music-icon {
    width: 20px;
    margin: 0 auto;
    padding: 0;
}

.track-p {
    border: 1px dotted #4DA62F;
    font-size: 16px;
    padding: 3px 3px;
    text-align: left;
    line-height: 15px;
}

.proj-desc {
    font-size: 16px;
    letter-spacing: .7px;
    margin: 8px 0;
    padding: 0;
    text-align: justify;
}

#td-collection {
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.td-projects {
    margin: 1px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.td-img {
    border: 8px ridge #4DA62F;
    margin: 0 auto;
    padding: 0;
    width: 500px;
    height: 400px;
    object-fit: cover;
}


.vizs {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.byop {
    background-color: #4DA62F;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



/* Landing images */

.landing-main {
    margin: 0 auto;
}

.landing-proj {
    margin: 1px auto;
    padding: 0;
    position: absolute;
    top: 150px;
    right: 50px;
}

.proj-gif {
    border: 8px ridge #4DA62F;
    margin: 0 auto;
    padding: 0;
    width: 700px;
    height: 300px;
    object-fit: cover;
    
}

.best-albums {
    border: 1px solid #4DA62F;
    width: 350px;
    height: 300px;
    margin: 0 40px;
    padding: 20px;
    position: absolute;
    left: 0;
    overflow: scroll;
}

.per-letter {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #4DA62F;
}

.about-title:hover + p {
    font-family: "jogan";
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.about-title {
    border: 1px solid #4da62f;
    margin: 1px auto;
    padding: 4px 0;
    text-align: center;
    font-family: "jogan";
    font-size: 12px;
}

.spotify-playlist {
    display: flex;
    position: absolute;
    top: 180px;
    right: 40px;
}


/* Menu */

.content-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    float: left;
    gap: 10px;
}

.social-menu {
    padding: 0;
    margin: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    float: right;
}

.nav-link {
    display: flex;
}


.link {
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    letter-spacing: .04rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.icon {
    margin-top: 5px;
    width: 18px;
}

/* Button */

.game-button {
    display: flex;
    justify-content: center;
}

.game-button button {
    background-color: black;
    border-radius: 50px;
    padding: 10px;
}

/* Landing Image */


/* Images */

#image-content {
    display: flex;
    flex-direction: column;
    margin-right: 345px;
    padding: 38px 0 50px 0;
    gap: 27px;
}

/* VISUAL WORK */

#content-top {
    margin-right: 345px;
}

#video-collection {
    margin: 0;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#about-me {
    margin: 0;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.img-width {
    width: 100%;
}

.section-heading {
    letter-spacing: 7px;
    text-align: center;

}

.section-desc {
    margin: 0;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 16px;
}


@media only screen and (max-width: 890px) {

    *{
        margin: 0;
        padding: 0;
        line-height: 1;    
    }

    body {
        margin: 10px auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        width: 100%;
    }

    hr {
        color: #4DA62F;
        border: 1px solid #4DA62F;
        margin: 0 auto;
        padding: 0;
        width: 100vw;
        position: fixed;
        top: 61px;
        overflow: hidden;
    }


    #nav-section {
        background-color: #0f0f0f;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    #name-subtitle {
        margin: 0 auto;
        padding: 2px 0;
        height: 57px;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    
        background-image: url(/assets/videos/fortune.mp4);
        background-size: cover;
        background-position: center;
    }

    .logo-section {
        margin: 0 auto;
        padding: 0;
    }
    
    .name {
        color: #0f0f0f;
        margin: 0 auto;
        padding: 0;
        font-family: 'Cousine', monospace;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: .1rem;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        text-transform: uppercase;
        text-underline-offset: 2px;
    }
    
    .logo-subtitle {
        color: #0f0f0f;
        margin: 5px;
        font-size: 14px;
        letter-spacing: .01rem;
        text-decoration-line:none;
        text-transform: lowercase;
    }
    
    .radio-icon {
        display: none;
    }

    .menu-options {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        text-align: center;
    }
    
    #menu-option {
        border: 1px solid #0f0f0f;
        margin: 0 auto;
        padding: 12px auto;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: .8px;
    }
    
    #menu-option:hover {
        background-color: #4DA62F;
        text-decoration: none;
        font-size: 16px;
        color: black;
    }
    
    #social-menu {
        margin: 0 auto;
        text-align: center;
        display: none;
    }
    
    #social-menu img {
        padding: 0 5px;
        width: 20px;
    }

    .sub-menu {
        margin: 10px auto;
        padding: 0 auto;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .sub-menu a {
        margin: 0 auto;
        padding: 5px auto;
        text-decoration: none;
        border: 1px solid #4DA62F;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        margin: 0 auto;
        width: auto;
    }

    .title-page {
        margin: 0 auto;
        padding: 0;
        font-size: 30px;
        letter-spacing: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
        margin: 10px auto;
        padding: 0;
    }

    .sub-title {
        margin: 0 auto;
        padding: 12px 0;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desc {
        margin: 0 auto;
        padding: 0;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects {
        margin: 10px auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .proj-right {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .proj-img {
        border: 7px ridge green;
        margin: 0 auto;
        padding: 0;
        width: 90%;
        height: 20rem;
        object-fit: cover;
    }
    
    .title-container {
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    .title-runtime {
        margin: 0;
        padding: 0;
    }

    .tube-watch-right {
        margin: 10px 0 0 0;
        padding: 0;
        letter-spacing: .7px;
        display: flex;
        justify-content: right;
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}
