html {
    margin: 0;
    padding: 0 18px;
    background: #0f0f0f;
    /* background: #e5e5e5; */
}

.font-color {
    color: #4DA62F;
    font-family: Cousine;
    font-weight: 700;
}

.content-dashed-line {
    border-top: 3px dotted #4da62f;
    margin-top: 20px;
    min-width: fit-content;
}

.dashed-line {
    border-top: 3px dotted #4da62f;
    margin-top: 20px;
    min-width: 100%;
}

/* Navigation Whole Section */

#nav-section {
    width: 19rem;
    position: sticky;
    top: 0;
    float: right;
    padding: 45px 10px;
}

.dashed-line {
    border-top: 3px dotted #4da62f;
    margin: 20px 0;
}

/* Navigation > Logo */

.logo-section {
    margin: 0;
    padding: 0;
    height: fit-content;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: .5rem;
    letter-spacing: .1rem;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    text-underline-offset: 2px;
}

.logo-subtitle {
    margin: 5px;
    font-size: 11px;
    text-decoration-line:none;
    text-transform: lowercase;
}

.radio-icon {
    margin-top: -35px;
    padding: 5px;
    width: 20px;
    float: right;
    color: #4DA62F;
}


/* Artist description */

#about-me {
    margin: 0;
    padding: 0;
    text-indent: 25px;
    font-size: 12px;
}


/* Menu */

.menu-options {
    margin: 0;
    padding: 10px;
    display: flex;
}

.content-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.social-menu {
    padding: 0;
    margin: 0;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-link {
    display: flex;
    align-items: left;
}

.arrow {
    width: 13px;
    padding: 0;
}

.link {
    text-decoration: none;
    list-style-type: none;
    padding-left: 4px;
    font-size: 12px;
    letter-spacing: .03rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.active {
    text-decoration: underline;
    text-underline-offset: 3px;
}

/* Landing Image */

.landing {
    margin: 0;
    padding: 0;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.landing-img {
    width: 100%;
    mix-blend-mode: screen;
}


/* Images */

#image-content {
    display: flex;
    flex-direction: column;
    margin-right: 345px;
    padding: 38px 0 50px 0;
    gap: 27px;
}

/* VISUAL WORK */

#content-top {
    margin-right: 345px;
}

#video-collection {
    margin: 0;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section-heading {
    letter-spacing: 10px;
    text-align: center;
}

.projects {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.proj-img {
    border: 7px ridge green;
    margin: 0;
    padding: 0;
    width: 24rem;
    height: 18rem;
    object-fit: cover;
}

.title-container {
    margin: 0;
    padding: 10px 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title-runtime {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px

}

.proj-title {
    display: flex;
    color: #4DA62F;
    font-size: 20px;
    font-family: Cousine;
    letter-spacing: 3px;
    text-decoration-line: none;
    text-transform: uppercase;
    margin: 3px 0 0 0;
    padding: 0;
    text-align: left;
}

.sub-desc {
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: left;
}

.proj-desc {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.tube-watch {
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.featured-track {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

.music-icon {
    width: 20px;
    margin: 0;
    padding: 0;
}

.track-p {
    font-size: 12px;
    margin: 10px 0 10px 0;
    padding: 0;
    text-align: left;
    line-height: 15px;
}


/* TD Project section */

#td-collection {
    margin: 0;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.td-projects {
    margin: 1px;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.td-img {
    border: 8px ridge green;
    margin: 0;
    padding: 0;
    width: 750px;
}




/* Mobile UI */

.mobile-only {
    display: none;
}


.desc,
.desc-mix {
    font-size: 12px;
    line-height: 20px;
}


.vid-menu-active {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.vid-menu-inactive {
    font-size: 20px;
    opacity: 60%;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}


.vid-menu-one,
.vid-menu-two {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .08rem;
}



@media only screen and (max-width: 1400px) {

    .mix-pack {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        justify-content: center;
    }

    .mix-covers {
        display: inline-flex;
        padding: 8px 8px;
    }
}


@media only screen and (max-width: 1100px) {

    .projects {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proj-title {
        justify-content: center;
    }

    .mix-covers {
        display: inline-block;
        max-width: 100%;
        padding: 8px 8px;
    }

    .mid-menu {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        
    }

    #visualizers {
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 70px;
        padding-bottom: 40px;
    }
}


/* For mobile browsing */

@media only screen and (max-width: 850px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #nav-section {
        margin: 0;
        padding: 20px;
        width: 19rem;
        display: inline-block;
        align-items: center;
        justify-content: center;
    }

    .content-menu {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        justify-content: space-evenly;
        align-items: center;
    }

    .full-menu {
        margin: 0;
        padding: 0;
    }

    #nav-menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .subheadings {
        display: none;
    }

    .social-menu {
        display: none;
    }

    .link {
        letter-spacing: 1px;
    }

    #content-top {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0;
        padding: 0 20px;

    }

    .dashed-line {
        border-top: 3px dotted #4da62f;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content-dashed-line {
        border-top: 3px dotted #4da62f;
        margin-top: 20px;
        margin-bottom: 20px;
        min-width: fit-content;
    }

    .mix-pack {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .mix-covers {
        display: inline-block;
        max-width: 100%;
        padding: 8px 8px;
    }

    #visualizers {
        flex-shrink: 0;
        margin: 0;
        padding: 20px 0 40px 0;
        display: flex;
        flex-direction: column;
        gap: 70px;
    }

    .mid-menu {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 33px;
        flex-direction: row;
        justify-content: center;
    }

    #content-top {
        margin: 0;
        width: auto;
    }

    #content {
        margin: 0;
        padding: 0;
    }

    .projects {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proj-title {
        justify-content: center;
    }

    .title-container {
        margin: 0;
        padding: 5px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .proj-desc,
    span {
        font-size: 12px;
        margin: 0;
    }

    #image-content {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
    }

    .desc {
        font-size: 12px;
        line-height: 20x;
        margin-top: -30px;
    }

    .desc-mix {
        font-size: 12px;
        line-height: 20x;
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .vid-menu-two {
        text-transform: uppercase;
        letter-spacing: .08rem;
    }

    .arrow {
        width: 13px;
        padding: 0;
        display: none;
    }

    .index {
        display: none;
    }

    .content-heading {
        margin: 0;
        padding: 0;
        font-size: 12px;
        /* line-height: 2.75rem; */
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-underline-offset: 2px;
    }

    .tube-watch {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: end;
        margin-top: 10px;
        text-decoration: underline;
    }

    .landing-img {
        margin: 0;
        padding: 0;
        width: 80%;
        mix-blend-mode:screen;
    }

    .proj-img {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .mobile-only {
        display: flex;
    }


}