:root {
  --baseline-ff: "DM Mono", monospace;
  --alt-ff: "Jersey 10", sans-serif;
  --baseline-fw: 400;
  --primary-color: #4da62f;
  --hidden: none;
  --translate-start: 100%;
  --translate-end: -100%;
  --animation-duration: 20s; /* Adjust duration as needed */
  --animation-delay: 5s; /* Add delay between cycles */
}

body,
html {
  margin: 0 auto;
  background-color: transparent;
}

.hidden {
  display: var(--hidden);
}

@media only screen and (max-width: 740px) {
  .mobile-hidden {
    display: var(--hidden);
  }
}
/* BACKGROUND IMAGE */
.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  user-select: none;

  z-index: -1;

  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-img video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height of viewport */
  overflow: hidden;
}
.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 2s ease-in-out;
}

/* SCROLLING BANNER */
.marquee {
  display: flex;
  overflow: hidden;
  height: 2vh;
  user-select: none;
  gap: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  z-index: 1;
}

.marquee-inner {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  min-width: 100%;
  padding: 4px;
  white-space: nowrap;
  animation: marquee 100s linear infinite;
}

.marquee-text {
  white-space: nowrap; /* Prevent text from wrapping */
  text-transform: uppercase;
  font-family: var(--alt-ff);
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  letter-spacing: 2px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 2px));
  }
}

@media only screen and (max-width: 740px) {
  .marquee {
    height: 3vh;
  }

  .marquee-text {
    font-size: 22px;
  }
}

/* MAIN CONTENT */
#content-grid {
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@media only screen and (max-width: 740px) {
  #content-grid {
    top: 50px;
  }
}

.content-header-wrapper {
  margin-top: 50px;
  font-family: var(--alt-ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: white;
}


.c-head-text {
  letter-spacing: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: 40px;
  mix-blend-mode: difference;
}

#about-grid {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-title {
  margin-top: 40px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;

  z-index: 4;
}

@media only screen and (max-width: 740px) {
  .header-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
  }

  .c-head-text {
    letter-spacing: 18px;
    left: 14px;
  }
}

.title-banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0 10px;
  
}

.title {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: black;
  font-family: var(--alt-ff);
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 25px;
  border-radius: 2px;
  padding: 3px;
  gap: 5px;
  mix-blend-mode: difference;
  background-color: white;
  line-height: 20px;

}

.title h4 {
  color: white;
  font-family: var(--alt-ff);
  font-weight: 500;
  word-wrap: break-word;
  position: relative;
  top: -30px;
  letter-spacing: 0.5px;
  font-size: 12px;
  mix-blend-mode: difference;

}

.title h2 {
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  padding: 3px;
}

.title h2 a {
  display: flex;
}

.title h2 img {
  width: 30px;
  padding: 3px 5px;
}

@media only screen and (max-width: 740px) {
  .title-banner {
    width: fit-content;
    text-align: center;
    margin-top: 150px;
  }

  .title h1 {
    flex-direction: column;
    gap: 30px;
    font-size: 40px;
    line-height: 30px;
    padding: 10px;
  }
  
  .title h4  {
    top: -146px;
  }


}

.title h1 img {
  width: 20px;
  padding: 3px 5px;
  border-radius: 50%;
  
}


.title h1 a {
  color: var(--primary-color);
  font-weight: 700;
}

.menu-wrapper {
  margin: 5px 0;
  padding: 5px;
  background-color: white;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
}

.menu-wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper a img {
  width: 30px;
}

/* .cursor-div {
  position: absolute;
  left: 100px;
  top: -110px;
}

.cursor-text {
  pointer-events: none;
  white-space: nowrap;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 9999;
  transform: translate(-50%, -50%);
  font-family: var(--baseline-ff);
  font-weight: var(--baseline-fw);
  font-size: 10px;
  position: absolute;
  opacity: 0; /* Initially hidden
} */

/* BACKGROUND IMAGE FOR ABOUT PAGE */
.bg-me {
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-me img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left 60%;
  transform: rotate(180deg);
}

@media only screen and (max-width: 1200px) {
  .bg-me img {
    height: 100%;
    object-position: left 60%;
  }
}

@media only screen and (max-width: 740px) {
  .bg-me img {
    width: 100%;
    object-position: 40%;
    transform: rotate(180deg);
  }
}

.proj-details-container {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
}

@media only screen and (max-width: 1250px) {
  .proj-details-container {
    width: 400px;
  }
}

.prj-details {
  color: white;
  background-color: black;
  padding: 0 10px;
}

.prj-details h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 10px;
  font-family: var(--alt-ff);
  font-weight: var(--baseline-fw);
  font-size: 14px;
}

@media only screen and (max-width: 740px) {
  .proj-details-container {
    width: 350px;
  }
}

/* PROJECT GRID LAYOUT */
.prj-grid {
  margin: 0 auto;
  padding: 2px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px 10px;
  max-width: 1100px;
  position: relative;
  top: 70px;
}

@media only screen and (max-width: 1200px) {
  .prj-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 740px) {
  .prj-grid {
    grid-template-columns: 1fr;
    width: fit-content;
    top: 40px;
  }
}

.prj-item {
  border: 1px solid var(--primary-color);
  margin: 0 auto;
  padding: 12px;
  width: 300px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 80%);
  border-radius: 2px;
}

.prj-item:hover{
  background-color: rgba(0, 0, 0, 100%);
}

@media only screen and (max-width: 740px) {
  .prj-item {
    width: 350px;
    background-color: rgba(0, 0, 0, 100%);
  }
}

.prj-img {
  margin-bottom: 5px;
  padding: 0;
  width: 300px;
  height: 240px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  min-height: 240px;
}

@media only screen and (max-width: 740px) {
  .prj-img {
    width: 350px;
    height: 280px;
    object-fit: cover;
  }
}

.prj-img video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: crosshair;
}


@media only screen and (max-width: 740px) {
  .video {
    width: 100%;
    background-color: white;
  }
}

.prj-info {
  margin: 0 auto;
  width: 100%;
  font-family: var(--alt-ff);
}

.prj-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;

  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 5px;
  text-align: left;
  color: white;
}

.date-length {
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}

.prj-desc {
  display: none;
  margin: 8px 0;
  padding: 0;
  font-size: 13px;
  justify-content: left;
  letter-spacing: 0;
  font-weight: 500;
  color: white;
}

.about-container {
  margin: 0 auto;
  position: relative;
  top: 50px;
  border-radius: 2px;
}

@media only screen and (max-width: 1200px) {
  .about-container {
    margin: 20px auto;
    width: fit-content;
  }
}

.about-info {
  font-family: var(--baseline-ff);
  margin: 0 auto;
  padding: 10px;
  max-width: 890px;
  color: white;
  background-color: black;
  line-height: 1.5;
}

@media only screen and (max-width: 740px) {
  .about-info {
    margin: 0 auto;
    padding: 5px 10px;
    max-width: 350px;
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
  }
}

.about-header {
  padding: 10px;
  font-family: var(--alt-ff);
  letter-spacing: 1.5px;
}

#about-me-sp div {
  display: flex;
}

#about-me-sp div h3 {
  background-color: white;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  top: 26px;
  left: 270px;
  border-radius: 2px;
  padding: 3px;
  font-size: 14px;
}

#about-me-sp div h3 a {
  display: flex;
  text-align: center;
  text-decoration: none;
  line-height: 17px;
  padding: 3px;
}

#about-me-sp div h3 a img {
  width: 30px;
  padding: 3px 5px;
}

.about-info p {
  font-family: var(--alt-ff);
  font-weight: 400;
  word-wrap: break-word;
  padding: 0 10px;
  font-size: 22px;
  letter-spacing: 1.4px;
}

.about-info p iframe {
  border: 2px solid var(--primary-color);
}

.about-info span {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 4px;
  position: relative;
  right: 100px;
  top: -20px;
}

.about-info div p span img {
  width: 20px;
  position: relative;
  top: -1px;
}

.about-info div .image-circle {
  border: 10px solid var(--primary-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  width: 660px;
  height: 400px;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
  object-fit: cover;
  object-position: left 25%;
}

@media only screen and (max-width: 740px) {
  .about-info div .image-circle {
    width: 260px;
    height: 240px;
    overflow: hidden;
    object-fit: cover;
    object-position: 50%;
    transform: scale(1.2);
  }
}

.contact-card {
  width: fit-content;
  position: absolute;
  top: 130px;
  right: 0;
  text-wrap: wrap;
  padding: 10px 20px;
  color: white;
  background-color: black;
}

.contact-card div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-size: 18px;
  line-height: 18px;
  font-family: var(--alt-ff);
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: break-word;
  margin: 0 auto;
  text-align: right;
  position: relative;
  gap: 3px;
  text-transform: uppercase;
}

@media only screen and (max-width: 740px) {
  .contact-card {
    width: 100px;
    top: 50px;
    position: relative;
  }

  .contact-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    font-size: 20px;
  }
}

.link {
  font-family: var(--alt-ff);
  font-weight: 400;
  color: #4da62f;
  text-decoration: underline;
}

a:hover {
  color: white;
}

a:visited {
  color: #4da62f;
  background-color: transparent;
  text-decoration: underline;
}
/* 
#load-more {
  margin: 0 auto;
  margin-top: 140px;
  padding: 13px 30px;
  border: 1px solid #4da62f;
  color: black;
  justify-content: center;
  text-align: center;

  font-family: "DM Mono", monospace;
  font-size: 15px;
  background-color: #4da62f;
  border-radius: 2px;
  cursor: pointer;
}

#load-more:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 2px;
} */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  mix-blend-mode: difference;
}

footer h4 {
  padding: 30px;
  color: white;
  font-family: var(--alt-ff);
  font-weight: var(--baseline-fw);
  font-size: 11px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer h4 a img {
  margin: 0 auto;
  position: relative;
  top: 1.5px;
}

@media only screen and (max-width: 740px) {
  footer h4 {
    text-align: center;
    font-size: 9px;
  }
}

/* .build-credit-wrapper {
  margin-bottom: 50px;
}

.build-credit {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  border: 0.6px solid #4da62f;
  background-color: #4da62f;
  padding: 0 1px;
  border-radius: 17px;
  font-family: var(--baseline-ff);
}

.build-credit h3 {
  padding: 0 10px;
  font-weight: 400;
}

.build-credit img {
  width: 10px;
  padding: 0 2px;
}

@media only screen and (max-width: 740px) {
  .build-credit {
    width: 170px;
    text-align: center;
    position: relative;
  }

  .build-credit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */

.about-wrapper {
  background-image: url("/assets/images/me-1.jpg");
  height: 1550px;
  top: 0;
}

@media only screen and (max-width: 740px) {
  .about-wrapper {
    height: 1750px;
  }
}
