* {
    margin: 0;
    padding: 0 18px;
}

html {
    /* border: 1px solid red; */
    background: #050505;
}

#banner {
    /* border: 1px solid red; */
    background: #5CAB46;
    height: 1.8rem;
    overflow: hidden;
    color: #ffffff;
    font-family: Cousine;
    font-weight: 600;
    font-size: 12px;
}

.mobile-friendly {
    margin: 0;
    padding: 0;
}

#nav-icon {
    /* border: 1px solid red; */
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: crosshair;
    z-index: 9999;
}
  
.bar {
    width: 25px;
    height: 2px;
    border-radius: 3px;
    background-color: #4DA62F;
    margin-bottom: 6px;
    transition: 0.3s;
}

#nav-menu {
    display: none;
}

#nav-section {
    /* border: .5px solid rgb(0, 13, 255); */
    width: 19rem;
    float: right;
    padding: 20px;
    padding-top: 45px;
    position: sticky;
    top: 0;
}

.font-color {
    color: #4DA62F;
    font-family: Cousine;
    font-weight: 700;
}

.name {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: .5rem;
    letter-spacing: .1rem;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-transform: uppercase;
    text-underline-offset: 2px;
}

.dashed-line {
    border-top: 3px dotted #4da62f;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subheadings {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .07rem;
    display: inline-block;
}

.about {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    text-indent: 25px;
    font-size: 12px;
}

#about-me {
    margin: 0;
    padding: 0;
}

.desc {
    /* border: 1px solid red; */
    font-size: 12px;
    line-height: 20px;
}

#nav-menu {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}


.social-menu {
    /* border: 1px solid red; */
    margin-top: 30px;
    line-height: 20px;
}

.link {
    /* border: 1px solid red; */
    text-decoration: none;
    list-style-type: none;
    padding-left: 4px;
    font-size: 12px;
    letter-spacing: .03rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.nav-link {
    display: flex;
    align-items: left;
    
}

.full-menu {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    display: inline-block;
}

.arrow {
    /* border: 1px solid red; */
    width: 13px;
    padding: 0;
}

.content-menu {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.vid-menu-active {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.vid-menu-inactive {
    font-size: 20px;
    opacity: 60%;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

#content-top {
    /* border: 1px solid red; */
    margin-right: 345px;
    padding-top: 20px;
}

.content-heading {
    /* border: 1px solid red; */
    font-size: 12px;
    line-height: 2.75rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-underline-offset: 2px;
}

/* .sticky-top {
    border: 1px solid red;
} */

.content-dashed-line {
    border-top: 3px dotted #4da62f;
    margin-top: 20px;
    width: 622px;
}

#content {
    /* border: 1px solid red; */
    display: flex;
    padding: 38px 0 50px 0;
    flex-direction: column;
    gap: 27px;
}

.mid-menu {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
}

.vid-menu-one,
.vid-menu-two {
    /* border: 1px solid red; */
    text-transform: uppercase;
    letter-spacing: .08rem;
}

#visualizers {
    /* border: 2px solid red; */
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.projects {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.proj-img {
    /* border: 2px solid red; */
    flex-shrink: 0;
    margin-left: -20px;
    width: 390px;
    height: 270px;
    top: 0;
}

.proj-title {
    /* border: 2px solid red; */
    color: #4DA62F;
    font-size: 25px;
    font-family: Dela Gothic One;
    line-height: 32px;
    text-decoration-line: none;
    text-transform: uppercase;
    text-underline-offset: 3px;
    margin-right: -10px;
}

.title-container {
    /* border: 2px solid red; */
    padding: 0;
    margin-left: -20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sub-desc {
    /* border: 2px solid red; */
    font-size: 12px;
    padding-top: 6px;
}

.proj-desc {
    /* border: 2px solid red; */
    font-size: 12px;
    margin-right: -30px;
}

span {
    font-style: italic;
    margin-left: -20px;
}

.landing {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-img {
    /* border: 2px solid red; */
    width: 65%;
}

#mixes {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mix-covers {
    display: inline-block;
    max-width: 266px;
    padding: 8px 8px;
}

.mix-pack {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
}

.unavailable {
    opacity: 60%;
}

.tube-watch {
    /* border: 2px solid red; */
    display: flex;
    align-items: left;
    margin-top: 10px;
    padding-left: 13px;
    text-decoration: underline;
}

#nav-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  #nav-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  #nav-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

@media only screen and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    

    #nav-section {
        /* border: .5px solid rgb(0, 13, 255); */
        width: fit-content;
        margin: 0;
        padding: 0;
        padding: 20px;
    }

    .full-menu {
        padding-left: 40px;
    }

    #content-top {
        display: none;
    }

    /* #nav-icon {
        display: block;
      }
    
    #nav-menu,
    #about-me {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 300px;
        padding: 20px;
        box-sizing: border-box;
        z-index: 999;
    }

    .dashed-line {
        border-top: 3px dotted #4da62f;
        margin-top: 20px;
        margin-bottom: 20px;
        width: fit-content;
    }
    
    .content-menu,
    .social-menu {
        padding-left: 0;
    }
    
    .link {
        display: block;
        margin-bottom: 10px;
    }

    .mobile-friendly {
        display: block;
        margin: 0;
        padding: 0;
    } */
}


@media screen and (min-width: 1200px) {
    .proj-img {
        width: 500px;
    }

    .content-dashed-line {
        width: 97%;
    }
}